.idea
myapi.db
*.pyc
__pycache__
migrations
alembic.ini

# python file
filetest.py

# Desktop Services Store
*.DS_Store

# SQL files
*.sql
.env
mariadb
.vscode
docker-compose_sub.yml
docker-compose-dev.yml
filetest.py

venv